body {
  font-family: "League Spartan", "Arial", sans-serif;
}

footer {
  position: absolute;
  padding: 10px;
  width: 1440px;
  height: 64px;
  left: 0px;
  top: 2400px;
  background-color: #3c8694;
  color: white;
  padding-top: 20px;
}

.h1-reg {
  font-style: normal;
  font-weight: 350;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.04em;
}

.h2-reg {
  font-style: normal;
  font-weight: 350;
  font-size: 25px;
  line-height: 36px;
  letter-spacing: 0.04em;
}

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  padding: 15px;
  background-color: white;
  z-index: 10;
}

.nav-logo {
  padding-left: 47px;
}

.nav-menu {
  padding-left: 850px;
  justify-content: space-between;
}

.nav-menu a {
  color: black;
  margin-left: 50px;
  text-transform: uppercase;
}

.menu-active {
  color: black;
  text-decoration: underline;
}

.menu-unactive {
  color: black;
  text-decoration: none;
}

/** Hero Section **/

.profile1 {
  display: inline-block;
  position: absolute;
  width: 509px;
  height: 480px;
  left: 130px;
  top: 192px;
}

.greet {
  position: absolute;
  width: 450px;
  height: 50px;
  left: 627px;
  top: 340px;
  /* Headline 2 Reg */
  font-style: normal;
  font-weight: 350;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.04em;
  background-color: white;
}

.name {
  position: absolute;
  width: 450px;
  height: 40px;
  left: 622px;
  top: 380px;

  font-style: normal;
  font-weight: 350;
  font-size: 48px;
  line-height: 36px;
  letter-spacing: 0.04em;
  background-color: white;
}

.intro {
  position: absolute;
  width: 300px;
  height: 30px;
  left: 656px;
  top: 430px;
  /* Headline 5 Reg */
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 18px;
  /* or 129% */
  letter-spacing: 0.04em;
}

.quotes-r {
  display: inline-block;
  position: absolute;
  width: 19px;
  height: 278px;
  left: 1368px;
  top: 262px;
}

.quotes-l {
  display: inline-block;
  position: absolute;
  width: 19px;
  height: 278px;
  left: 1344px;
  top: 262px;
}

.quotes-l,
.quotes-r {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  letter-spacing: 0.04em;
}

.scroll-down {
  padding-top: 710px;
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #9f9f9f;
}

.down-arrow {
  margin-top: -60px;
  padding-left: 698px;
}

/** About Me **/

.title-s2 {
  padding-top: 15px;
  padding-left: 650px;
}

.section2 {
  background-color: #ddc0c0;
  margin-top: 90px;
  width: 1440px;
  height: 500px;
}

.aboutme {
  display: inline-block;
  margin-left: 60px;
  width: 590px;
  justify-content: left;
  font-style: normal;
  font-weight: 350;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.04em;
}

.aboutme-img {
  display: inline-block;
  padding-left: 200px;
}

/** Personal Skills **/

.title-s3 {
  padding-left: 640px;
}

.section3 {
  position: static;
  height: 420px;
  margin-top: 100px;
}

/** Connect **/
.title-s4 {
  padding-left: 640px;
}

.section4 {
  position: static;
  width: 1440px;
  height: 300px;
  margin-top: 220px;
  background-color: #ececea;
  text-align: center;
}
